body{
    font-family: 'Poppins', sans-serif;
}
.section1{
    display:flex;
    width:95%;
    margin: 70px;
}
.all-h1{
    width: 70%;
     
    font-size: 45px;
    margin-top: 200px;
    
}
.all-h2{
    width:90%;
    margin-bottom: 45px;
    font-size: 20px;
    
}

.a-link{
    text-decoration: none;
    color:white;
    background-image:linear-gradient(rgba(255, 217, 0, 0.438),gold);
    padding:10px 25px;
    border-radius: 14px;
    font-weight: 700;
    
}
.span-1{
    color:gold;
}